@import "tailwindcss";

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text; /* Safari için ekleme */
  color: transparent; /* Yalnızca yazıyı görsel olarak keser */
}

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #121212; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* Scrollbar thumb color */
  border-radius: 10px; /* Optional: makes the thumb rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff; /* Color when hovering over the scrollbar thumb */
}

* {
  background-color: #121212;
}